* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #000;
}

.main {
    width: 26%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    border: 6px solid#c19950;
    border-top: 22px solid #c19950;
    border-radius: 0 0 4px 4px;
}

.container {
    width: 64%;
    height: 90%
}

.item {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: -5px;
    color: #67788a;
}

.item input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    padding-right: 5px;
    background: #0d161f;
    color: #c19950;
    padding-left: 5px;
    font-family: 'Inconsolata', monospace;
}

.custo-atual {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    padding-right: 5px;
    background: #0d161f;
    color: #c19950;
    padding-left: 5px;
    font-family: 'Inconsolata', monospace;
    cursor: text;
}

input::placeholder {
    color: #c19950;
}

.item input:hover {
    background: #090f14;
}

.juros label {
    display: block;
    margin-bottom: -5px;
}


.juros {
    display: flex;
    width: 100%;
    gap: 2px;
}

.mySelect {
    width: 6.8rem;
    height: 40px;
    border: 0;
    border-radius: 4px;
    background: #0d161f;
    color: #c19950;
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}

.result {
    width: 100%;
    height: 100px;
    background: #090f14;
    border: 1px solid #67788a;
    border-radius: 4px;
    cursor: text;
}

.result p {
    color: green;
    text-transform: capitalize;
    padding: 2px 2px;
    text-align: center;
}

.custo-atual:hover {
    background: #090f14;
}

.button {
    display: flex;
    width: 100%;
    margin-top: 5px;
    gap: 4px;
}

.button button {
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: 0;
    border: 1px solid #67788a;
    color: #c19950;
    background: #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.button button:hover {
    border: 1px solid #c19950;
    color: #3e5d7e;
}

.button button:active {
    border: 1px solid #c19950;
    color: #213346;
}

h2,
h4 {
    text-align: center;
    color: #c19950;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .main {
        width: 100%;
        height: 100vh;
    }

    .mySelect {
        width: 14rem;
    }
}